{
  "parser": "babel-eslint",

  "extends": "eslint:recommended",

  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "jsx-quotes": ["warn", "prefer-single"]
  }
}
