.questionContent
    display: block
    padding: 16px
    border-bottom: 0.5px solid rgb(201, 201, 201)
    transition: background-color 0.3s ease-in-out

.questionContent:hover
    color: rgb(0, 119, 255)
    cursor: pointer 
    background-color: rgb(227, 251, 255)
    
.answerContent
    padding: 16px
    color: initial
    line-height: 24px
    background-color: inherit
    margin: 0

.active
    overflow: visible
    display: block

.inactive
    display: none
    overflow: hidden