.eventsPage
    display: flex
    justify-content: center
    gap: 30px
    max-width: 1200px
    align-items: flex-start
    box-sizing: border-box
    margin: 40px auto 

    *
        box-sizing: border-box

    .eventForm
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        width: 40%
        gap: 16px
        padding: 24px
        box-shadow: 0 0 12px 1px rgb(216, 216, 216)
        border-radius: 5px

        button
            width: 100%
            min-width: fit-content
            padding: 12px
            border: none
            border-radius: 5px
            background-color: blue
            color: white
            margin-top: 20px
    
    .eventInput
        display: flex
        justify-content: space-between
        width: 100%

        span
            font-size: 20px
            width: 100%

        input
            width: 100%

    .events
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        padding: 24px
        box-shadow: 0 0 12px 1px rgb(216, 216, 216)
        border-radius: 5px
        gap: 12px
        
        .eventsHeader
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%

            h1
                font-size: 32px
                
            span
                font-size: 18px

        hr
            width: 100%

    .errorMessage
        color: rgb(255, 68, 68)

::-webkit-scrollbar
    width: 12px

::-webkit-scrollbar-track 
    background: #f1f1f1

::-webkit-scrollbar-thumb
    background: #a6a6a6

::-webkit-scrollbar-thumb:hover
    background: #7e7e7e