.events
    display: flex
    flex-direction: column
    padding: 24px
    box-shadow: 0 0 12px 1px rgb(216, 216, 216)
    border-radius: 5px
    gap: 12px
    width: 70%
    
    .eventsHeader
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%

        h1
            font-size: 32px
            
        span
            font-size: 18px

    hr
        width: 100%
    
.eventsList
    width: 100%
    overflow: auto
    border-radius: 5px 
    z-index: -3
    min-height: 620px
    max-height: 400px

    .emptyList
        display: flex
        flex-direction: column
        justify-content: center
        gap: 20px
        color: #acacac
        align-items: center

        b
            font-size: 120px

        span
            font-weight: 500